body{
    margin:0px;
}

#navbar{
    background-color: blue;
    width: 100%;
    height:4rem;
    float:left;
}

#navbar ul{
    margin:0px;
    padding: 0px;
    list-style: none;
}

#navbar li{
    display: inline-block;
}