html{
    scroll-behavior: smooth;
}

.container{
    margin:0px;
    display:grid;
    grid-template-columns: 1fr;
}

.header{
    background-color: #e63946;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

#navbar nav{
    display: flex;

    
}

#navbar ul{
    height:inherit;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style: none;
}

#navbar li{
    margin: 0px;
    font-size: 1.5rem;
    float:left;
    
}

#navbar a{
    display: block;
    color: #f1faee;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}

#navbar li:hover{
    background-color: #cf323f;
}


.home-image{
    width:100%;
    background-color: aquamarine;
    height:40vh;
}

.text-block{
    position: absolute;
    top:15px;
    left: 20px;
    font-size: 40px;
}




.home-image img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: 0px 100%;
    z-index: 10;
}
    