html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    margin:0px;
    display:grid;
    grid-template-columns: 1fr;
}

.header{
    background-color: #e63946;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

#navbar nav{
    display: flex;

    
}

#navbar ul{
    height:inherit;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style: none;
}

#navbar li{
    margin: 0px;
    font-size: 1.5rem;
    float:left;
    
}

#navbar a{
    display: block;
    color: #f1faee;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}

#navbar li:hover{
    background-color: #cf323f;
}


.home-image{
    display: grid;
    width:100%;
    height:80vh;
    background-image: url("/Website//images/pic5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 100%;   
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    ". . . . . . ."
    ". . header . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ;
    
}

.home-image h1{
    font-size: 8rem;
    grid-area: header;
    just
    color:white;
}





.home-image img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: 0px 100%;
    z-index: 10;
}
    