html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    margin:0px;
    display:grid;
    grid-template-columns: 1fr;
}

.header{
    background-color: #fca311;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

#navbar nav{
    display: flex;

    
}

#navbar ul{
    height:inherit;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style: none;
}

#navbar li{
    margin: 0px;
    font-size: 1.5rem;
    float:left;
    
}

#navbar a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}

#navbar li:hover{
    background-color: #cf323f;
}


.home-image{
    display: grid;
    width:100%;
    height:60vh;
    background-image: url("/Website//images/pic5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 100%;   
    
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    ". . . . . . ."
    ". . header . . . ."
    ". . . . . . ."
    ". . . . . . ."

    
    ;
    
}


#title{
    grid-area: header;
}

#title h1{
    font-size: 8rem;
    color:white;
    margin: 0px;
    padding: 0px;
    text-shadow: 2px 2px 15px #2e2e2e;
}

.home-image h2{
    margin: 0px;
    padding: 0px;
    font-size: 3rem;
    color:white;
    text-shadow: 2px 2px 15px #2e2e2e;
}





.home-image img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: 0px 100%;
    z-index: 10;
}


#about{
    /* background-color: #e5e5e5; */
    
}

#about h3{
    text-align: center;
    font-size: 3rem;
    margin-bottom:15px;
    margin-top:
}

#about p{
    text-align: center;
    margin-top:0px;
    margin-left:60px;
    margin-right:60px;
    font-size: 2rem;
}

.statistics-container{
    margin:10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    
        "header header header header header"
        ""
    
    
    
    ;
    grid-gap: 40px 40px;
    justify-content: center;
    max-width: 100%;
    width: 100%;
}

.statistics-container-item{
    background-color:#cf323f;
    
    
}

.statistics-container-item img{
    width: 100%;
    height: 100%;
}

#statistics-container-item-header{
    grid-area: header;
    font-size: 3rem;
    text-align: center;
}

#statistics-container-item-1{
    grid-area:c1;
}
#statistics-container-item-2{
    grid-area:c2;
}
#statistics-container-item-3{
    grid-area:c3;
}
#statistics-container-item-4{
    grid-area:c4;
}
#statistics-container-item-5{
    grid-area:c5;
}
#statistics-container-item-6{
    grid-area:c6;
}
#statistics-container-item-7{
    grid-area:c7;
}
#statistics-container-item-8{
    grid-area:c8;
}