body{
    margin:0px;
}

#navbar{
    background-color: rgb(255, 208, 0);
    width: 100%;
    height:6vh;
}

#navbar nav{
    float:left;
}

#navbar ul{
    margin:0px;
    padding: 0px;
    list-style: none;
}

#navbar li{
    display: inline-block;
}