html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    margin:0px;
    display:grid;
    grid-template-columns: 1fr;
}

.header{
    background-color: #fca311;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

#navbar nav{
    display: flex;

    
}

#navbar ul{
    height:inherit;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style: none;
}

#navbar li{
    margin: 0px;
    font-size: 1.5rem;
    float:left;
    
}

#navbar a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}

#navbar li:hover{
    background-color: #cf323f;
}


.home-image{
    display: grid;
    width:100%;
    height:60vh;
    background-image: url("../images/pic5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 100%;   
    
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    ". . . . . . ."
    ". . header . . . ."
    ". . . . . . ."
    ". . . . . . ."

    
    ;
    
}


#title{
    grid-area: header;
}

#title h1{
    font-size: 8rem;
    color:white;
    margin: 0px;
    padding: 0px;
    text-shadow: 2px 2px 15px #2e2e2e;
}

.home-image h2{
    margin: 0px;
    padding: 0px;
    font-size: 3rem;
    color:white;
    text-shadow: 2px 2px 15px #2e2e2e;
}





.home-image img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: 0px 100%;
    z-index: 10;
}



#about h3{
    text-align: center;
    font-size: 3rem;
    margin-bottom:15px;
}

#about p{
    text-align: center;
    margin-top:0px;
    margin-left:60px;
    margin-right:60px;
    font-size: 2rem;
}

.statistics-container{
    margin:10px;
    display: grid;
    grid-template-rows: 0fr 1/3fr 1/3fr 1/3fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    

}





#statistics-container-item-header{
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
    font-size: 3rem;
    text-align: center;
    background-color: red;
    margin:0px;
    padding: 0xp;
}

#statistics-container-item-header a{
    
    font-size: 2rem;
}

#statistics-container-item-1{
    grid-column: 1 / span 1;
    grid-row: 2/ 2;
}
#statistics-container-item-2{
    grid-column: 2 / span 2;
    grid-row: 2/ 2;
}
#statistics-container-item-3{
    grid-column: 1 / span 2;
    grid-row: 3/ 3;
}

#statistics-container-item-4{
    grid-column: 1 / span 2;
    grid-row: 4/ 4;
}
.statistics-container-item-4-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.statistics-container-item-4-flex-container img{
    width: 625px;
    height: auto;
  
}


#resources{
    margin: 30px 30px 30px 30px;
}

#resources h3{
    text-align: center;
    font-size: 3rem;
    margin-bottom:15px;
}

#resources h4{
    text-align: left;
    font-size: 2rem;
    margin-bottom:15px;
}

.ticketing_home_botheader {
    font-size: 22px;
    color: #454646;
    font-weight: 600;
}

.ticketing_home_botsubheader {
    font-size: 14px;
    color: #2099ec;
}

.ticketing_home_bot div.col-md-12 {
    padding-bottom: 50px;
}

.ticketing_home_bot div.col-md-2, .ticketing_home_bot div.col-md-4 {
    margin: 50px 0px 0px 0px;
}

.ticketing_footer {
    padding: 20px 0px 10px 0px;
    color: #ffffff;
    margin-bottom: 50px;
	/* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #09568B 0%, #1773AF 300%);
	/* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #09568B 0%, #1773AF 300%);
	/* Opera */
    background-image: -o-linear-gradient(bottom, #09568B 0%, #1773AF 300%);
	/* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #09568B), color-stop(3, #1773AF));
	/* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #09568B 0%, #1773AF 300%);
	/* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #09568B 0%, #1773AF 300%);
}

.ticketing_footer a {
    color: #FFF;
}

.ticketing_footer div.social {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.ticketing_hometop_bg {
    background: url(../images/ticketing_hometop_bg.jpg) no-repeat top center;
    float: left;
    width: 100%;
    padding: 50px 0px;
}

.ticketing_hometop_img {
    margin: 20px auto;
}

.ticketing_hometop_img img {
    width: 100%;
}

.ticketing_hometop_title {
    font-size: 32px;
    color: #0074ba;
    font-weight: bold;
    line-height: 34px;
    margin: 0px 0px 10px 0px;
}

.ticketing_hometop_subtitle {
    font-size: 34px;
    color: #0074ba;
    letter-spacing: -3px;
    margin: 10px 0px 20px 0px;
    line-height: 36px;
}

.ticketing_hometop_more {
    float: left;
    text-shadow: 1px 1px #4b4b4b;
    font-weight: 600;
    font-size: 15px;
    margin: 20px 0px 10px 0px;
}



